<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.justadudeinspace.twrpbuilder">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="TWRP Builder"
        android:allowBackup="true"
        android:theme="@style/Theme.TWRPBuilder">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TWRPBuilder">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TWRPBuilder" />
    </application>
</manifest>
